.first-container {
    transition: all .6s;
    width: 100%;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
    background: $gradient-brown-black, url('../img/first_section/baloons_start.webp') center / cover no-repeat;
    @include table{
        background: $gradient-brown-black, url('../img/Adaptive/baloons_start_table.webp') center / cover no-repeat;
    }
    @include phone{
        background: $gradient-brown-black, url('../img/Adaptive/baloons_start_phone.webp') center / cover no-repeat;
    }
    display: flex;
    align-items: center;
}

.first-container-description {
    margin: 0 auto;
    text-align: center;
    &__button {
        margin-bottom: 30px;
    }
    &__header {
        margin-bottom: 10px;
    }
    &__header-sub {
        margin-bottom: 50px;
    }
}