.footer {
    background-color: $footer-black;
    padding: 8rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo {
        width: 120px;
        height: 151px;
        margin-bottom: 50px;
    }
}
.footer-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
