.sixth-section {
    padding: 100px;
    background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);

    @include table {
        padding: 0px;
        background: none;
    }

    @include table {
        text-align: center;
    }
}

.content-box {
    background: url(../img/sixth_section/pexels-taryn.webp) center / cover no-repeat;

    @include phone {
        background: url(../img/Adaptive/pexels-taryn_phone.webp) center / cover no-repeat;
    }

    padding: 50px;

    @media (min-width: 850px) {
        border-radius: 10px;
        box-shadow: $shadow;
    }

    position: relative;

    @include phone {
        padding: 10px;
    }

    &__button {
        background-color: $brown-color-darck;

        i {
            color: white;
        }

        &::after {
            background-color: $brown-color-darck;
        }
    }

    &__header {
        margin-bottom: 50px;
    }

    &__background {
        position: absolute;
        width: 60%;
        height: 100%;
        left: 0px;
        top: 0px;

        @media (min-width: 850px) {
            border-radius: 10px;
        }

        clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);

        @include phone {
            width: 100%;
            clip-path: none;
        }

        background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 3.24%, rgba(255, 255, 255, 0.6) 88.76%);
    }

    &__elements {
        position: relative;
        z-index: 1;
    }

}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 50px;
}

.input-element {
    display: flex;
    flex-direction: column;

    &__input {
        height: 55px;
        border: none;
        padding-left: 22px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        width: 50%;

        @include table {
            width: 100%;
        }

        &:focus {
            outline: none !important;
        }

        &:focus~label {
            opacity: 1;
            transform: translateY(10px);
        }
    }

    &__indication {
        height: 1px;
        background-color: red;
        width: 50%;

        @include table {
            width: 100%;
        }
    }

    &__label {
        transition: all .3s;
        opacity: 0;
        transform: translateY(30px);
        color: rgb(88, 88, 88);
    }
}

.checboxes {
    margin-bottom: 30px;

    @include table {
        margin-bottom: 50px;
    }

    text-align: left;

    div.radio-button {
        @media (max-width: 550px) {
            margin-bottom: 20px;
        }

        width: max-content;
    }
}