*,
::after,
::before,
:focus {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.radio-button:focus{
  outline: dotted 1px black;
}
.button:focus{
  outline: dotted 1px black;
  &::after{
    outline: none;
  }
}
html {
  font-size: 62.5%;
  @include table{
    font-size: 50%;
  }
  @include phone{
    font-size: 42%;
  }
}
body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  color: $color-grey;
}
a{
  color: $color-grey;
  text-decoration: none;
}
@mixin preliminary_collapse{
  visibility: collapse;
  transition: all 1s;
  opacity: 0;
  transform: translateY(20px);
}