@mixin header($sise, $color, $weight, $letter) {
    font-size: $sise;
    color:  $color;
    font-weight: $weight;
    letter-spacing: $letter;
}

.header-main {@include header(5rem, white, 800, 10px)}
.header-sub{@include header(4rem, white, 300, 5px)}
.header-description{
    @include header(3.6rem, transparent, 800, 10px);
    background: $header_gradient;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: $shadow-light;
    transition: all .5s;
    display: inline-block;
    &:hover{
        transform: translateX(10px);
    }
}
.header-description-card{
    @include header(20px,$color-grey , 700, 2px)
}
.text-into-button{@include header(20px, $color-grey, 600, 5px)}