// Breapoints
$breakpoint_phone: 450px;
$breakpoint_min_table: 570px;
$breakpoint_table: 850px;
$breakpoint_laptop: 1150px;
$breakpoint_adaptive_images: 1100px;
// Max-widht
$max-width: 1144px;
$max-width_list: 400px;

//Colors
$color-gray-light: rgba(247,247,247,1);
$brown-color-light: rgba(186,133,84,1);
$brown-color-darck: rgba(161,79,3,1);
$color-grey: rgba(119,119,119,1);
$header_gradient: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
$gradient-brown-black: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%);
// Shadows
$shadow: 0px 4px 4px rgba(0,0,0,0.250), 0px 4px 4px rgba(0,0,0,0.250), 0px 15px 40px rgba(0,0,0,0.150);

$shadow-light: 0px 4px 4px rgba(0,0,0,0.100);
